@model Fiap.Exemplo02.MVC.Web.Models.Professor

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@Helper.Message(TempData["mensagem"], "alert alert-success")
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(p => p.Nome)
                @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(p => p.Salario)
                @Html.TextBoxFor(p => p.Salario, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Helper.Submit("Salvar", "btn btn-success")
            </div>

        </div>
    </div>
}
