@model ICollection<Fiap.Exemplo02.MVC.Web.Models.Professor>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Professores</h2>
<br />
@Helper.Message(TempData["msg"], "alert alert-success")

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Salário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Nome</td>
                <td>R$ @item.Salario</td>
                <!--<td>
                    @Html.ActionLink("Editar", "Editar", new { id = @item.Id }, new { @class = "btn btn-primary btn-xs", @value = "" })
                    <button onclick="alunoId.value = @item.Id" type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>-->
            </tr>
        }
    </tbody>
</table>
